<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/theme.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); ">
    </div>
  </div>
</div>

<div class="alert alert-success" *ngIf="registerNotification">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>Successfully {{buttonName2}}ed to the Database! </span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group text-center" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary " (click)="toggle()">Movies Info</button>
        <button type="button" class="btn btn-secondary" (click)="toggle3()">User Info</button>
        <button type="button" class="btn btn-secondary" (click)="toggle2()">{{buttonName}}</button>
      </div>
    </div>
  </div>
  <div class="row profile">
    <div class="col-md-9 float-center container" *ngIf="showMovies">
      <div class="profile-content float-center">
        <div class="float-center">
          <div class="card-body" *ngFor="let database_movie of movie_database">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>{{database_movie.name}}</strong>
                <button class=" btn btn-outline-danger btn-link pull-right list-group-item " data-toggle="modal"
                  data-target="#myModal" (click)="deleteMovies(database_movie.id)">Delete </button>
                <button class=" btn btn-outline-danger btn-link pull-right list-group-item" (click)="editMovies(database_movie.id)"
                  (click)="toggle2()" (click)="getspMovieDatabase(database_movie.id)">Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 float-center container" *ngIf="display">
      <div class="profile-content float-center">
        <div class="float-center">
          <div class="profile-sidebar">
            <h3 class="text-center">Number of Users: <strong><span countUp endVal="{{userNumber}}">0</span></strong></h3>
          </div>
          <div class="card-body" *ngFor="let database_user of userData">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>{{database_user.userName}}</strong>
                <button class=" btn btn-outline-danger btn-link pull-right" data-toggle="modal" data-target="#myModal"
                  (click)="deleteUser(database_user.id)">Delete </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">Confirm delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> Are you sure you want to delete this {{buttonName4}}?
          </div>
          <div class="modal-footer">
            <div class="left-side">
              <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
              <button type="button" class="btn btn-default btn-link" (click)="delete()" data-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container qr" *ngIf="showForm">
    <form #loginForm="ngForm" class="register-form">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required placeholder="Name" [(ngModel)]="model.name" required>

      <label>Image Url</label>
      <input type="text" class="form-control" name="imageUrl" required placeholder="Image Url" [(ngModel)]="model.imageUrl"
        required>

      <label>First Source Name</label>
      <input type="text" class="form-control" name="firstSource" required placeholder="First Source" [(ngModel)]="model.firstSource"
        required>

      <label>Price</label>
      <input type="text" class="form-control" name="firstPrice" required placeholder="First Price" [(ngModel)]="model.firstPrice"
        required>

      <label>Source Url</label>
      <input type="text" class="form-control" name="firstLink" required placeholder="Source Link" [(ngModel)]="model.firstLink"
        required>

      <label>Second Source name</label>
      <input type="text" class="form-control" name="secondSource" required placeholder="Second Source" [(ngModel)]="model.secondSource"
        required>

      <label>Price</label>
      <input type="text" class="form-control" name="secondPrice" required placeholder="Second Price" [(ngModel)]="model.secondPrice"
        required>


      <label>Source Url</label>
      <input type="text" class="form-control" name="secondLink" required placeholder="Source Link" [(ngModel)]="model.secondLink"
        required>
      <button class="btn btn-danger btn-block btn-round but" [disabled]="!loginForm.valid" (click)="submit()">{{buttonName2}}</button>
      <p class="has-success">{{message}}</p>
    </form>

  </div>
</div>
