.page-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

