<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md fixed-top navbar-transparent " color-on-scroll="200">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
        data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a routerLink = "" class="navbar-brand ">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item" *ngIf="!session">
          <a routerLink="login" class="nav-link"><i class="nc-icon nc-lock-circle-open"></i>Login</a>
        </li>
        <li class="nav-item" *ngIf="!session">
          <a routerLink="signup" class="btn btn-dark btn-round">SignUp</a>
        </li>
        <li class="nav-item" *ngIf="session">
          <a routerLink="account" class="nav-link"><i class="nc-icon nc-single-02"></i>Profile</a>
        </li>
        <li class="nav-item" *ngIf="session">
          <a (click)="Logout()" routerLink="" class="btn btn-danger btn-round">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>