<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <span class="copyright">
            © Movie Hub
          </span>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <a href="" title="Facebook">
          <i class="fa fa-facebook-square"></i>
          <p class="d-lg-none">Facebook</p>
        </a>
        <a href="" title="Twitter">
          <i class="fa fa-twitter"></i>
          <p class="d-lg-none">Twitter</p>
        </a>
        <a href="" title="Instagram">
          <i class="fa fa-instagram"></i>
          <p class="d-lg-none">Instagram</p>
        </a>
        <a href="" title="Github">
          <i class="fa fa-github"></i>
          <p class="d-lg-none">Github</p>
        </a>
      </div>
    </div>
  </div>
</footer>
